**/*.pkl
**/*log.txt
**/*log.txt*
**/.DS_Store
**/.pytest_cache
**/bin
**/include
**/lib
**/pyvenv.cfg
**/release-builds/**
**/share
**/upload.conf
*.ini
*.pyc
*.sublime-project
*.sublime-workspace
*.code-workspace
*__pycache*
*_ini_win.txt
*log.txt
*log_bak.txt
*~
.idea
.Python
.vscode
.pylintrc
pip-selfcheck.json
python-cli/*.conf
**/.cache